.task__container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    margin-top: 5rem; /* Adjust the top margin as needed */
}

/* Styles for user information */
.flexCont {
    display: flex;
    justify-content: space-between;
}

.title {
    font-weight: 500;
    padding-bottom: 0.2rem;
}

.secondaryGreyTextColor {
    color: #777;
}

/* Styles for Webcode score */
.marktag {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}



/* Styles for description */
.col-12 {
    margin-top: 1rem;
}

/* Styles for comments container */
.marksContainer {
    margin-top: 1rem;
}

.commentsstudent {
    background-color: #f0f0f0;
    padding: 0.5rem;
    border-radius: 5px;
}

/* Styles for form errors */
.error {
    color: red;
}

/* Styles for submit button */
.submit__capstone {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit__capstone:hover {
    background-color: #0056b3;
}

/* Styles for table */
.table {
    width: 100%;
    margin-top: 1rem;
}

/* Styles for table links */
.table a {
    text-decoration: none;
    color: #007bff;
}

/* Styles for table links on hover */
.table a:hover {
    text-decoration: underline;
}

/* Styles for spinner */
.spinner-border {
    color: #ffc107;
}