.task__container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    margin-top: 5rem; 
}

/* Styles for user information */
.flexCont {
    display: flex;
    justify-content: space-between;
}

.title {
    font-weight: 500;
    padding-bottom: 0.2rem;
}

.secondaryGreyTextColor {
    color: #777;
}


.marktag {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}




.col-12 {
    margin-top: 1rem;
}


.marksContainer {
    margin-top: 1rem;
}

.commentsstudent {
    background-color: #f0f0f0;
    padding: 0.5rem;
    border-radius: 5px;
}


.error {
    color: red;
}


.submit__capstone {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit__capstone:hover {
    background-color: #0056b3;
}


.table {
    width: 100%;
    margin-top: 1rem;
}


.table a {
    text-decoration: none;
    color: #007bff;
}


.table a:hover {
    text-decoration: underline;
}


.spinner-border {
    color: #ffc107;
}