
.dashboard {
  padding: 20px;
}


.activities__box h3 {
  background-color: #4b0dba;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}
.codekata, 
.webkata{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    padding: 20px; 
    border: 1px solid #ddd; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.activities__box .chart-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}