.forgot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .forgot-page {
    background-color:lightskyblue;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  .form-container {
    text-align: center;
  }
  
 
  .centered-link {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
  }
  .form-control {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 4px solid #ccc;
    border-radius: 5px;
  }
  
  
  .btn-submit {
    background-color:blue;
    color:purple;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn-submit:hover {
    background-color: #0056b3;
  }