.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}


.signup-form {
  background-color:lightskyblue;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}


.signup-form h2 {
  margin-bottom: 20px;
  color: #333;
}


.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}


.login__btn {
  background-color: #007bff;
  color:red;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login__btn:hover {
  background-color:#333;
}



.login-form:hover {
  text-decoration: underline;
}
